.carousel {
  width: 100%;
  display: grid;
}

.carousel__tabs {
  font-size: 1rem;
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.carousel__views {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.carousel__footer {
  width: 100%;
  display: flex;
}
