<div class="blog page">
  <img v-if="img" :src="img" alt="" class="page-blog__img">
  <p v-if="title" class="page-blog__title">{{ title }}</p>
  <FadeStagger
    delay-interval="40"
    list-container-tag="div"
    class="page-blog__content"
  >
    <template v-if="parsedContent.length">
      <div
        :key="id"
        v-for="({ text, img }) in parsedContent"
        class="page-blog__content-row"
      >
        <div v-if="text" class="page-blog__content-text" v-html="text"></div>
        <img v-if="img" :src="img" alt="" class="page-blog__content-img">
      </div>
    </template>
  </FadeStagger>
</div>
