<div class="page">
  <Card class="profile">
    <template #body>
      <img :src="profile.img" alt="" class="profile__image">
      <div class="profile__info">
        <span class="profile__position">{{ profile.position }}</span>
        <span class="profile__name">{{ profile.name }}</span>
        <a class="profile__email">{{ profile.email }}</a>
      </div>
    </template>
  </Card>

  <Card class="skills" @mouseenter="showAllSkills">
    <template #header>
      <h1 class="skills__header">
        <Vsvg
          name="stars"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#000000"
        ></Vsvg>
        {{ skillsTitle }}
        <Vsvg
          v-if="!skillsList.length"
          name="caretDown"
          width="1.7rem"
          height="1.7rem"
          class="caret-down"
        ></Vsvg>
      </h1>
    </template>
    <template #body>
      <FadeStagger
        delay-interval="40"
        list-container-tag="div"
        class="skills__list"
      >
        <template v-if="skillsList.length">
          <div
            v-for="(skill, index) in skillsList"
            :key="skill.name"
            :data-index="index"
            class="skills__item"
          >
            <a :href="skill.link" target="_" class="skills__link">
              <img :src="skill.img" alt="" />
              {{ skill.name }}
            </a>
          </div>
        </template>
      </FadeStagger>
    </template>
  </Card>

  <Card class="services" @mouseenter="showAllServices" ref="servicesCard">
    <template #header>
      <h1 class="services__header">
        <Vsvg
          name="heartShake"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#c9dfe0"
        ></Vsvg>
        {{ servicesTitle }}
        <Vsvg
          v-if="!servicesList.length"
          name="caretDown"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#c9dfe0"
          class="caret-down"
        ></Vsvg>
      </h1>
    </template>
    <template #body>
      <FadeStagger
        delay-interval="300"
        list-container-tag="div"
        class="services__list"
      >
        <template v-if="servicesList.length">
          <div
            v-for="(service, index) in servicesList"
            :key="service.name"
            :data-index="index"
            @mouseenter="changeServicesBackground(service.img)"
            @mouseleave="changeServicesBackground()"
            class="services__item"
          >
            <Vsvg
              :name="service.logo"
              width="1.7rem"
              height="1.7rem"
              stroke-color="#c9dfe0"
            ></Vsvg>
            {{ service.name }}
          </div>
        </template>
      </FadeStagger>
    </template>
  </Card>

  <Card class="projects" @mouseenter="showFeaturedProjects">
    <template #header>
      <h1 class="projects__header">
        <Vsvg
          name="circlesSquare"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#bbca61"
        ></Vsvg>
        {{ projectsTitle }}
        <Vsvg
          v-if="!featuredProjects.length"
          name="caretDown"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#bbca61"
          class="caret-down"
        ></Vsvg>
      </h1>
    </template>
    <template #body>
      <Carousel
        v-if="featuredProjects.length"
        tabbed="true"
        auto="true"
        timer="3"
        :list="featuredProjects"
        class="projects__carousel"
      >
        <template #tabs="{ selectTab, currentIndex }">
          <a
            v-for="(project, index) in featuredProjects"
            :key="project.name"
            @click="selectTab(index)"
            :class="{ selected: currentIndex === index }"
            class="projects__tab"
          >
            <Vsvg
              :name="project.logo"
              width="1.7rem"
              height="1.7rem"
              stroke-color="#bbca61"
            ></Vsvg>
            {{ project.name }}
          </a>
        </template>
        <template #previous="{ prev }">
          <a @click="prev()" class="projects__previous">
            <Vsvg
              name="arrowLeft"
              width="5rem"
              height="5rem"
              stroke-color="#bbca61"
            ></Vsvg>
          </a>
        </template>
        <template #views="{ view }">
          <div
            :style="{ 'backgroundImage': `url(${view.img})` }"
            class="projects__view"
          ></div>
        </template>
        <template #next="{ next }">
          <a @click="next()" class="projects__next">
            <Vsvg
              name="arrowRight"
              width="5rem"
              height="5rem"
              stroke-color="#bbca61"
            ></Vsvg>
          </a>
        </template>
        <template #footer="{ currentIndex, selectView }">
          <a
            v-for="(project, index) in featuredProjects"
            :key="project.name"
            @click="selectView(index)"
            :class="{ selected: currentIndex === index }"
            class="projects__pointer"
          ></a>
        </template>
      </Carousel>
    </template>
  </Card>

  <Card class="experience" @mouseenter="showAllExperience">
    <template #header>
      <h1 class="experience__header">
        <Vsvg
          name="userFolder"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#86451a"
        ></Vsvg>
        {{ experienceTitle }}
        <Vsvg
          v-if="!experienceList.length"
          name="caretDown"
          width="1.7rem"
          height="1.7rem"
          stroke-color="#86451a"
          class="caret-down"
        ></Vsvg>
      </h1>
    </template>
    <template #body>
      <FadeStagger
        delay-interval="40"
        list-container-tag="div"
        class="experience__list"
      >
        <template v-if="experienceList.length">
          <div
            v-for="(experience, index) in experienceList"
            :key="index"
            :data-index="index"
            class="experience__item"
          >
            <div class="experience__company">
              <a href="" class="company__logo">
                <img :src="experience.logo" alt="" />
              </a>
              <div class="company__name">
                <span>{{ experience.company }}</span>
                <span>{{ experience.position }}</span>
              </div>
            </div>
            <div class="experience__stack">
              <span
                v-for="(tech, index) in experience.stack"
                class="experience__tech chip"
              >
                {{ tech }}
              </span>
            </div>
          </div>
        </template>
      </FadeStagger>
    </template>
  </Card>

  <Card class="blog" @mouseenter="showfeaturedBlog">
    <template #header>
      <h1 class="blog__header">
        <Vsvg
          name="news"
          width="1.7rem"
          height="1.7rem"
          stroke-color="rgba(77, 79, 85, 0.7)"
        ></Vsvg>
        {{ blogTitle }}
        <Vsvg
          v-if="!featuredBlog.length"
          name="caretDown"
          width="1.7rem"
          height="1.7rem"
          stroke-color="rgba(77, 79, 85, 0.7)"
          class="caret-down"
        ></Vsvg>
      </h1>
    </template>
    <template #body>
      <FadeStagger
        delay-interval="40"
        list-container-tag="div"
        class="blog__list"
      >
        <template v-if="featuredBlog.length">
          <div
            v-for="(blog, index) in featuredBlog"
            :key="blog.img"
            :data-index="index"
            class="blog__item"
          >
            <img :src="blog.img" alt="" class="blog__img" />
            <router-link :to="{ name: 'blog', params: { index } }" class="blog__info">
              <span class="blog__title">{{ blog.title }}</span>
              <span class="blog__intro">{{ blog.intro }}</span>
              <span class="blog__date">{{ blog.date }}</span>
            </router-link>
          </div>
        </template>
      </FadeStagger>
    </template>
  </Card>
</div>
