.caret-down {
  margin: 0 0 0 auto;
  cursor: pointer;
}

.profile.card,
.skills.card,
.services.card,
.projects.card,
.experience.card,
.blog.card {
  margin: 0.5rem;
  padding: 0 1.5rem;
  width: 85%;
}

.profile.card {
  padding: 1.5rem;
}

.profile .card__body {
  display: grid;
  justify-items: center;
}

.profile__image {
  width: 100%;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  justify-items: center;
  align-items: end;
}

.profile__info > * {
  padding: 0.3rem 0.4rem;
}

.profile__position,
.profile__name {
  font-weight: 600;
  text-shadow: 2px 3px var(--shadow2);
  text-align: center;
}

.profile__position {
  font-size: 1rem;
}

.profile__name {
  color: var(--accent3);
  font-size: 0.75rem;
  transition: all 0.3 ease-in-out;
}

.profile__email {
  color: var(--accent3);
  font-size: 0.7rem;
  border-radius: 12px;
  cursor: pointer;
}

.profile__email:hover {
  color: var(--shadow);
  background-color: var(--highlight4);
}

.skills.card {
  background-image: linear-gradient(
    to right,
    var(--highlight),
    var(--highlight2)
  );
}

.skills.card:hover {
  filter: brightness(1.05);
}

.skills * {
  color: var(--shadow);
}

.skills__list {
  font-weight: 500;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  flex-wrap: wrap;
}

.skills__item {
  min-width: 90px;
  padding: 5px 0 10px;
  transition: all 0.3s ease-in-out;
}

.skills__item:hover {
  background-color: var(--base2);
}

.skills__item:last-child {
  margin-bottom: 24px;
}

.skills__item:hover .skills__link {
  color: var(--highlight);
}

.skills__link {
  font-size: 0.8rem;
  display: flex;
  gap: 7px;
  flex-direction: column;
  text-align: center;
}

.skills__link > * {
  width: 3rem;
  margin: 0 auto;
}

.services.card {
  background-image: linear-gradient(to right, var(--accent4), var(--accent5));
  background-size: cover;
  background-repeat: no-repeat;
}

.services.card * {
  color: var(--highlight4);
}

.services__list {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.services__item {
  border-radius: 20px;
  column-gap: 5%;
  padding: 3%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.services__item:last-child {
  margin-bottom: 24px;
}

.services__item:hover {
  background-color: var(--base5);
  border-color: var(--highlight);
}

.services__item:active {
  transform: scale(1);
}

.projects.card {
  background-image: linear-gradient(to right, var(--base4), var(--base5));
}

.projects.card:hover {
  filter: brightness(1.05);
}

.projects.card:hover .projects__previous,
.projects.card:hover .projects__next {
  pointer-events: all;
}

.projects__tab {
  color: var(--highlight3);
  width: 100%;
  padding: 2% 3%;
  gap: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.projects__tab:hover {
  background-color: var(--base4);
}

.projects__tab.selected {
  color: var(--highlight2);
  border-bottom: 3px solid var(--highlight2);
}

.projects__views {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.projects__view {
  margin-top: 3%;
  width: 100%;
  height: calc(1vw * 50);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  grid-column: 1 / end;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__previous,
.projects__next {
  color: var(--accent);
  top: 55%;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.projects__previous {
  left: 7%;
}

.projects__next {
  right: 7%;
}

.projects__previous:hover,
.projects__next:hover {
  opacity: 1;
  background-color: var(--base4);
}

.projects .carousel__footer {
  padding: 2% 0 3%;
  display: flex;
  justify-content: center;
}

.projects__pointer {
  margin: 1.5% 1%;
  padding: 0.7%;
  border: 2px solid var(--highlight2);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.projects__pointer:hover {
  border: 2px solid var(--highlight);
}

.projects__pointer.selected {
  border: 2px solid var(--highlight);
  background-color: var(--highlight);
}

.experience.card {
  gap: 5%;
  background-image: linear-gradient(to right, var(--accent), var(--accent2));
  background-position: top;
}

.experience__header {
  filter: brightness(2);
  color: var(--accent5);
}

.experience__list {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.experience__item {
  padding: 5%;
  border-radius: 12px;
  background-image: linear-gradient(
    to right,
    var(--highlight4),
    var(--highlight2)
  );
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.experience__item:last-child {
  margin-bottom: 24px;
}

.experience__item:hover .experience__tech {
  color: var(--accent4);
  border: 1px solid var(--accent4);
  background-color: var(--highlight4);
}

.experience__company {
  column-gap: 7%;
  display: flex;
  align-items: center;
}

.company__logo > * {
  width: 2.7rem;
  border: 2px solid var(--highlight3);
  border-radius: 7px;
  text-shadow: 2px 3px var(--shadow2);
}

.company__name {
  display: grid;
}

.company__name :first-child {
  color: var(--accent2);
  font-weight: 700;
}

.company__name :last-child {
  color: var(--accent2);
  font-size: 1.05rem;
}

.experience__stack {
  gap: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.experience__tech {
  color: var(--highlight4);
  margin-top: 3%;
  font-size: 0.7rem;
  border: 1px solid var(--highlight4);
  background-color: var(--accent4);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blog.card {
  background-image: linear-gradient(to right, var(--shadow3), var(--shadow4));
}

.blog__header {
  filter: brightness(2.5);
  color: var(--shadow3);
}

.blog__item {
  margin-top: 5%;
}

.blog__img {
  width: 100%;
}

.blog__info {
  margin-bottom: 1.3rem;
  padding: 1rem;
  background-color: var(--shadow);
  row-gap: 10px;
  display: grid;
  cursor: pointer;
}

.blog__title {
  color: var(--highlight4);
  font-weight: 700;
}

.blog__info:hover {
  background-color: var(--base5);
}

.blog__intro {
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  .skills__list {
    grid-template: repeat(4, 0.5fr) / repeat(4, 1fr);
  }

  .profile.card .card__body {
    display: flex;
    justify-content: space-around;
  }
  
  .profile__image {
    width: 150px;
  }
  
  .profile__info {
    display: grid;
    align-content: center;
    justify-items: end;
  }
}

@media (min-width: 800px) {
  .profile.card,
  .skills.card,
  .services.card,
  .projects.card,
  .experience.card,
  .blog.card {
    margin: 1rem;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .profile.card,
  .skills.card,
  .services.card,
  .projects.card,
  .experience.card,
  .blog.card {
    max-width: 500px;
  }

  .home.page {
    max-height: 1600px;
    gap: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .projects__view {
    height: 400px;
  }

  .projects__previous {
    left: 12%;
  }

  .projects__next {
    right: 12%;
  }
}
