.card {
  border-radius: 10px;
  box-shadow: 0.5px 10px 7px -3px var(--shadow);
  background-image: linear-gradient(to right, var(--base3), var(--base2));
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  display: grid;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  transform: scale(1.03);
  filter: brightness(1.15);
  box-shadow: 0.5px 7px 7px -7px var(--shadow);
  border: 1px solid var(--highlight3);
}

.card__header * {
  gap: 3%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
