.card {
  border-radius: 10px;
  box-shadow: 0.5px 10px 7px -3px var(--shadow);
  background-image: linear-gradient(to right, var(--base3), var(--base2));
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-3px);
  filter: brightness(1.15);
  box-shadow: 0.5px 12px 10px -3px var(--shadow);
  border: 1px solid var(--highlight3);
}

.card__header * {
  gap: 3%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
