* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: var(--highlight);
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--base);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--base3);
}

.page {
  min-height: 800px;
  margin: 2rem 0;
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__header {
  font-size: 2rem;
  color: var(--highlight2);
}

.theme__toggle .toggle__button.on::after {
  background-color: var(--accent);
}

.theme__toggle .toggle__button.off::after {
  background-color: var(--shadow3);
}

.theme__toggle .toggle__text {
  color: var(--highlight4);
  filter: brightness(0.7);
}

.games {
  min-height: 40vh;
  background-image: linear-gradient(to right, var(--base), var(--shadow5));
}
